
@CHARSET "UTF-8";

div#ta_filter_p, div#ta_filter_t {
  display: block;
  overflow: auto;
}

div#ta_filter_p {
  width: 49%;
  float: left;
}

div#ta_filter_t {
  width: 49%;
  float: right;
}

div#ta_jsapp {
  clear: both;
  width: 100%;
}

div#ta_jsapp_p, div#ta_jsapp_t {
  display: block;
  overflow: auto;
}

div#ta_jsapp_p {
  width: 49%;
  float: left;
}

div#ta_jsapp_t {
  width: 49%;
  float: right;
}

div#ts_jsapp a.external {
  padding: 0 13px 0 0;
  background: background: url(icons/external-link.png) center right no-repeat
}

div#ta_jsapp ul.has-tickets {
  margin: 2px;
  padding: 10px 2px 10px 2px;
  border: 1px solid black;
}

div#ta_jsapp ul.has-tickets li {
/**  list-style-type: none; **/
/**  padding: 2px; **/
}

div#ta_jsapp ul.may-not-accept {
  background-color: red;
}

div#ta_jsapp li.odd {
  background-color: #FFFFFF;
}
div#ta_jsapp li.even {
  background-color: #F3F3F3;
}

div#ta_jsapp span {
  margin: 0 3px 0 3px;
}

span.has-tooltip {
  border-bottom: 1px dotted green;
}

div.block-overview {
  display: none; !important
}

div.ctrl-elements {
  float: right;
}

span.hidden-element {
  visibility: hidden; !important
}

span.ctrl-element {
  padding: 0 8px 0 8px;
  cursor: pointer;
}

span.cmd-save {
  background: url(icons/edit-save-famfamfam.png) no-repeat top left;
}

span.cmd-ajax {
  background: url(icons/ajax.gif) no-repeat top left;
}

span.cmd-dd {
  background: url(icons/edit-drag-drop-famfamfam.png) no-repeat top left;
}