@CHARSET "UTF-8";


.balance-ok {
  color: green;
  font-weight: bold;
}

.balance-warning {
  color: orange;
  font-weight: bold;
}

.balance-error {
  color: red;
  font-weight: bold;
}

div.stormfields div.label, div.stormbody div.label, div.field div.field-label-inline-first {
  width: 400px !important;
}


.storm-timetracking-progress-stormticket,
.storm-timetracking-progress-stormtask {
	
}


.storm-timetracking-progress-stormproject {
	
}

.storm-timetracking-progress-label {
	font-size:0.8em;
}

.stormtimetracking-calendar {
  float: right;
  width: 250px;
}