.calendar-calendar .stormtimetracking-extension-percentage {
  float: left;
  padding: 0.125em 0.25em 0 0.25em;
}

.calendar-calendar .mini .stormtimetracking-extension-percentage {
  font-size: smaller;
  float: none;
  padding: 0;
}

.view-storm-c-timetracking-calendar .calendar-calendar td.mini {
  text-align: center;
}

.calendar-calendar .weekend,.calendar-calendar .national-holiday {
  background: #CCC;
}

.calendar-calendar .utilisation-no-trackings {
  background: #FCC;
}

.calendar-calendar .utilisation-no-trackings.future {
  background: none;
}

.calendar-calendar .utilisation-trackings-missing {
  background: #FFB;
}

.calendar-calendar .utilisation-okay {
  background: #CFC;
}

.calendar-calendar .stormperson_holiday, .calendar-calendar .not-a-working-day {
  background: #EEE;
}

.calendar-calendar td.selected {
  border: blue 2px solid;
}

.stormtimetracking-extension-calendar-frame {
  padding-top: 5px;
  border: none 0px;
}

.stormtimetracking-extension-calendar-table {
  border: none 0px;
}

.stormtimetracking-extension-calendar-legend-icon {
  padding: 3px 3px 0px 0px !important;
  border: none 0px;
}

.stormtimetracking-extension-calendar-legend-text {
  padding: 3px 3px 0px 0px !important;
  border: none 0px;
  font-size: 9px;
}