@CHARSET "UTF-8";

/* PAGE VIEW ADDS */

#stormticket-extension-page-view-adds-durations {
	margin-top:10px;
}

#stormticket-extension-page-view-adds-costs {
  margin-top:10px;
  margin-bottom:10px;
}


/* Balances */

.balance-ok {
  color: green;
  font-weight: bold;
}

.balance-warning {
  color: orange;
  font-weight: bold;
}

.balance-error {
  color: red;
  font-weight: bold;
}

div.stormfields div.label, div.stormbody div.label, div.field div.field-label-inline-first {
  width: 200px !important;
}

.last-update {
  font-size:8px;  
}