
.stormperson-holidays-heading h3 {
    text-align: center;
}

.stormperson-holidays-heading-prev {
    float: left;
}

.stormperson-holidays-heading-next {
    float: right;
}

.stormperson-holidays-calendar-year td {
    width: 50%;
}

.stormperson-holidays-calendar-year tr.even, .stormperson-holidays-calendar-year tr.odd {
    background: none;
}

.stormperson-holidays-calendar-month td.week-no {
    width: 2%;
}

.stormperson-holidays-calendar-month td {
    width: 14%;
}

.stormperson-holidays-calendar-month td.date {
    text-align: right;
}

.stormperson-holidays-calendar-month td {
    border-right: 1px solid #CCCCCC;
}

.stormperson-holidays-calendar-month td.holiday-permitted {
    background-color: #CCFFCC;
}

.stormperson-holidays-calendar-month td.holiday-pending {
    background-color: #FFFFBB;
}

.stormperson-holidays-calendar-month td.holiday-declined {
    background-color: #FFCCCC;
}

.stormperson-holidays-calendar-month td.weekend, .stormperson-holidays-calendar-month td.national-holiday {
    background-color: #DDFFDD;
}

.stormperson-holidays-calendar-month td.date.national-half-holiday {
    background-color: #FFFFDD;
}

.stormperson-holidays-calendar-month tr.week-even {
    background-color: #F3F3F3;
}

.stormperson-holidays-calendar-month tr.week-odd {
    background-color: #FFFFFF;
}

.stormperson-holidays-calendar-month tr.even, .stormperson-holidays-calendar-month tr.odd {
    border:  none;
}

.stormperson-holidays-calendar-month tr.date {
    border-top: 1px solid #CCCCCC;
}