@CHARSET "UTF-8";

.storm_contrib_progress_bar {
  border: 1px solid black;
}

.storm_contrib_progress_bar_fill {
  text-align: center;
  background-color: #33ff33;
  height: 100%;
}

.storm_contrib_progress_bar_over {
  background-color: #ff3333;
  color: #626262;
}

.storm_contrib_progress_bar span {
  vertical-align: middle;
}

.stormperson-utilisation-chart .storm_contrib_progress_bar {
  margin-left: 200px;
}

