ul.storm-contrib-filter-block li.filter_public {
  font-style: italic;
}

ul.storm-contrib-filter-block li.filter_default {  
  font-style: italic;
}

ul.storm-contrib-filter-block li a.active {
  font-weight: bold;
}