@CHARSET "UTF-8";

#stormdashboard-top-navigation {
  clear:both;
  margin:0;
  width: 70%;
  overflow: hidden;
  padding: 10px
}

#stormdashboard-top-navigation .stormdashboard-icon {
  display:inline;
  float: left
}