@CHARSET "UTF-8";


.balance-ok {
  color: green;
  font-weight: bold;
}

.balance-warning {
  color: orange;
  font-weight: bold;
}

.balance-error {
  color: red;
  font-weight: bold;
}

.last-update {
  font-size:8px;	
}
